<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('修改采购订单')"/>
  <th:block th:include="include :: datetimepicker-css"/>
  <style>
      .suggest-group {
          width: 66.66666666% !important;
      }
  </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ibox-content">
  <form class="form-horizontal m" id="form-purchase-edit" th:object="${hisPurchaseOrders}">
    <!--    <h4 class="form-header h4">采购订单信息</h4>-->
    <input name="purId" th:field="*{purId}" type="hidden">
    <input class="form-control" name="userId" required th:field="*{userId}" type="hidden">
    <input class="form-control" name="splId" required th:field="*{splId}" type="hidden">

    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label">采购单据号：</label>
      <div class="col-sm-8">
        <input class="form-control" name="purDocNum" th:field="*{purDocNum}" type="text">
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label">制单人：</label>
      <div class="col-sm-8">
        <input class="form-control" name="userName" readonly th:field="*{userName}" type="text">
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label is-required">供应商：</label>
      <div class="col-sm-8 input-group-sm suggest-group">
        <input class="form-control suppliers-suggest" name="splName" placeholder="选择供应商" required th:field="*{splName}" type="text">
        <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label is-required">订单日期：</label>
      <div class="col-sm-8">
        <div class="input-group date">
          <input class="form-control" name="purDate"
                 placeholder="yyyy-MM-dd" required th:value="${#dates.format(hisPurchaseOrders.purDate, 'yyyy-MM-dd')}"
                 type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label">计划到货日期：</label>
      <div class="col-sm-8">
        <div class="input-group date">
          <input class="form-control" name="purArrDate"
                 placeholder="yyyy-MM-dd" th:value="${#dates.format(hisPurchaseOrders.purArrDate, 'yyyy-MM-dd')}"
                 type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label">预计付款日期：</label>
      <div class="col-sm-8">
        <div class="input-group date">
          <input class="form-control" name="purPayDate"
                 placeholder="yyyy-MM-dd" th:value="${#dates.format(hisPurchaseOrders.purPayDate, 'yyyy-MM-dd')}"
                 type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label class="col-sm-4 control-label is-required">采购单状态：</label>
      <div class="col-sm-8">
        <div class="radio-box" th:each="dict : ${@dict.getType('doc_purchase_status')}">
          <input name="purStatus" required th:field="*{purStatus}" th:id="${'purStatus_' + dict.dictCode}"
                 th:value="${dict.dictValue}" type="radio">
          <label th:for="${'purStatus_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
        </div>
      </div>
    </div>

    <!--    <h4 class="form-header h4">采购订单明细信息</h4>-->
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-white btn-sm" onclick="addRow()" type="button"><i class="fa fa-plus"> 增加</i></button>
        <button class="btn btn-white btn-sm" onclick="sub.delRow()" type="button"><i class="fa fa-minus"> 删除</i>
        </button>
        <div class="col-sm-12">
          <table id="bootstrap-table"></table>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-offset-5 col-sm-10">
    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存
    </button>&nbsp;
    <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
    </button>
  </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-suggest-js"/>
<script th:inline="javascript">
    
    var prefix = ctx + "his/purchase";
    var catDosageFormDatas = [[${@dict.getType('drug_dosage_form')}]];
    var catUnitDatas = [[${@dict.getType('drug_unit')}]];

    $("#form-purchase-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-purchase-edit').serialize(), function (result) {
                setTimeout(closeItem, 100);
            });
        }
    }

    $("input[name='purDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='purArrDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='purPayDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(function () {
        var options = {
            data: [[${hisPurchaseOrders.hisOrdersSchedulesList}]],
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            columns: [{
                checkbox: true
            },
                {
                    field: 'index',
                    align: 'center',
                    // title: "序号",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'catApprovalNumber',
                    title: '批准文号',
                    visible: false
                },
                {
                    field: 'catDrugNum',
                    title: '药品编号',
                    visible: false
                },
                {
                    field: 'catName',
                    align: 'left',
                    title: '药品名',
                    width: '180%',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            '<div class="row">' +
                            '  <div class="col-sm-12">' +
                            '    <div class="input-group">' +
                            '      <input type="text" class="form-control medicine-suggest" placeholder="选择药品" ' +
                            '             name="hisOrdersSchedulesList[%s].catName" value="%s" readonly>' +
                            '        <ul class="dropdown-menu dropdown-menu-right" role="menu">' +
                            '        </ul>' +
                            '    </div>' +
                            '  </div>' +
                            '</div>', index, value);
                    }
                },
                {
                    field: 'catId',
                    align: 'center',
                    title: 'ID',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' readonly name='hisOrdersSchedulesList[%s].catId' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'catEnglishName',
                    title: '英文名',
                    width: '180%',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catEnglishName' value='%s'>",
                            index, value);
                    }
                },
                {
                    field: 'catProducer',
                    title: '生产商',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catProducer' value='%s'>",
                            index, value);
                    }
                },
                {
                    field: 'catSpecs',
                    title: '规格',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catSpecs' value='%s'>",
                            index, value);
                    }
                },
                {
                    field: 'catDosageForm',
                    title: '剂型',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catDosageFormLabel' value='%s'>",
                            index, stripHtmlTagsDOMParser($.table.selectDictLabel(catDosageFormDatas, value)));
                    }
                },
                {
                    field: 'catPackage',
                    title: '包装',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catPackage' value='%s'>",
                            index, value);
                    }
                },
                {
                    field: 'catUnit',
                    title: '单位',
                    width: '50%',
                    formatter: function (value, row, index) {
                        return $.common.sprintf(
                            "<input class='form-control' type='text' readonly " +
                            "name='hisOrdersSchedulesList[%s].catUnitLabel' value='%s'>",
                            index, stripHtmlTagsDOMParser($.table.selectDictLabel(catUnitDatas, value)));
                    }
                },
                {
                    field: 'orderSchPrice',  // 原计划单的参考单价变为采购单的金额
                    align: 'left',
                    title: '金额',
                    width: '80%',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisOrdersSchedulesList[%s].orderSchPrice' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'orderSchNumber',
                    align: 'center',
                    title: '采购数量',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisOrdersSchedulesList[%s].orderSchNumber' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
        };
        $.table.init(options);

        // 获取供应商数据
        $.ajax({
            url: ctx + 'his/suppliers/search_list',
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                // 初始化 bootstrap-suggest 插件
                $(".suppliers-suggest").bsSuggest({
                    // url: "/his/suppliers/list",
                    data: {"value": response},
                    getDataMethod: 'data',
                    showHeader: true, // 是否显示头部
                    effectiveFields: [
                        "splId",
                        "splName",
                        "splAddr",
                        "splContact",
                        "splLegalPerson",
                        "splPermitId",
                        "splCertification",
                        "splBusinessLicenseId"
                    ],
                    effectiveFieldsAlias: {
                        splId: "ID",
                        splName: "名称",
                        splAddr: "地址",
                        splContact: "联系方式",
                        splLegalPerson: "法人代表",
                        splPermitId: "许可证编号",
                        splCertification: "质量认证情况",
                        splBusinessLicenseId: "营业执照编号"
                    },
                    idField: "splId",
                    keyField: "splName",
                    ignorecase: true,
                    autoDropup: true,
                    hideOnSelect: true,
                    showBtn: false,
                    clearable: true
                }).on('onSetSelectValue', function (e, selectedData, selectedRawData) {
                    $("input[name='splId']").val(selectedData.id);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching data:', error);
            }
        });
    });

    function addRow() {
        var count = $("#" + table.options.id).bootstrapTable('getData').length;
        var row = {
            index: $.table.serialNumber(count),
            catId: "",
            orderSchNumber: "",
        }
        sub.addRow(row);
    }
</script>
</body>
</html>