<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改药品目录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-catalogue-edit" th:object="${hisDrugCatalogue}">
            <h4 class="form-header h4">药品目录信息</h4>
            <input name="catId" th:field="*{catId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">批准文号：</label>
                <div class="col-sm-8">
                    <input name="catApprovalNumber" th:field="*{catApprovalNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">药品编号：</label>
                <div class="col-sm-8">
                    <input name="catDrugNum" th:field="*{catDrugNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">通用名或商品名：</label>
                <div class="col-sm-8">
                    <input name="catName" th:field="*{catName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">英文名称：</label>
                <div class="col-sm-8">
                    <input name="catEnglishName" th:field="*{catEnglishName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生产单位：</label>
                <div class="col-sm-8">
                    <input name="catProducer" th:field="*{catProducer}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规格：</label>
                <div class="col-sm-8">
                    <input name="catSpecs" th:field="*{catSpecs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">剂型：</label>
                <div class="col-sm-8">
                    <select name="catDosageForm" class="form-control m-b" th:with="type=${@dict.getType('drug_dosage_form')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{catDosageForm}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">包装：</label>
                <div class="col-sm-8">
                    <input name="catPackage" th:field="*{catPackage}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单位：</label>
                <div class="col-sm-8">
                    <select name="catUnit" class="form-control m-b" th:with="type=${@dict.getType('drug_unit')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{catUnit}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">销售单价：</label>
                <div class="col-sm-8">
                    <input name="catUnitPrice" th:field="*{catUnitPrice}" class="form-control" type="text">
                </div>
            </div>
            <h4 class="form-header h4">库存信息信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-white btn-sm" onclick="addRow()"><i class="fa fa-plus"> 增加</i></button>
                    <button type="button" class="btn btn-white btn-sm" onclick="sub.delRow()"><i class="fa fa-minus"> 删除</i></button>
                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table"></table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "his/catalogue";
        $("#form-catalogue-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-catalogue-edit').serialize());
            }
        }

        $(function() {
            var options = {
                data: [[${hisDrugCatalogue.hisInventoryList}]],
                pagination: false,
                showSearch: false,
                showRefresh: false,
                showToggle: false,
                showColumns: false,
                sidePagination: "client",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                    	var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                    	return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'invBatchNumber',
                    align: 'center',
                    title: '生产批号',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisInventoryList[%s].invBatchNumber' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'invNumber',
                    align: 'center',
                    title: '库存数量',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisInventoryList[%s].invNumber' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'invUnitPrice',
                    align: 'center',
                    title: '销售单价',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisInventoryList[%s].invUnitPrice' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'invProdDate',
                    align: 'center',
                    title: '生产日期',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisInventoryList[%s].invProdDate' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    field: 'invValidTo',
                    align: 'center',
                    title: '有效期至',
                    formatter: function(value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisInventoryList[%s].invValidTo' value='%s'>", index, value);
                        return html;
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
            };
            $.table.init(options);
        });

        function addRow() {
            var count = $("#" + table.options.id).bootstrapTable('getData').length;
            var row = {
                index: $.table.serialNumber(count),
                invBatchNumber: "",
                invNumber: "",
                invUnitPrice: "",
                invProdDate: "",
                invValidTo: "",
            }
            sub.addRow(row);
        }
    </script>
</body>
</html>