<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.test.batchNumbers.mapper.HisBatchNumbersMapper">
    
    <resultMap type="HisBatchNumbers" id="HisBatchNumbersResult">
        <result property="batchNumber"    column="batch_number"    />
        <result property="pdcNumber"    column="pdc_number"    />
    </resultMap>

    <sql id="selectHisBatchNumbersVo">
        select batch_number, pdc_number from his_batch_numbers
    </sql>

    <select id="selectHisBatchNumbersList" parameterType="HisBatchNumbers" resultMap="HisBatchNumbersResult">
        <include refid="selectHisBatchNumbersVo"/>
        <where>  
            <if test="batchNumber != null  and batchNumber != ''"> and batch_number = #{batchNumber}</if>
            <if test="pdcNumber != null "> and pdc_number = #{pdcNumber}</if>
        </where>
    </select>
    
    <select id="selectHisBatchNumbersByBatchNumber" parameterType="String" resultMap="HisBatchNumbersResult">
        <include refid="selectHisBatchNumbersVo"/>
        where batch_number = #{batchNumber}
    </select>
        
    <insert id="insertHisBatchNumbers" parameterType="HisBatchNumbers">
        insert into his_batch_numbers
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNumber != null and batchNumber != ''">batch_number,</if>
            <if test="pdcNumber != null">pdc_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNumber != null and batchNumber != ''">#{batchNumber},</if>
            <if test="pdcNumber != null">#{pdcNumber},</if>
         </trim>
    </insert>

    <update id="updateHisBatchNumbers" parameterType="HisBatchNumbers">
        update his_batch_numbers
        <trim prefix="SET" suffixOverrides=",">
            <if test="pdcNumber != null">pdc_number = #{pdcNumber},</if>
        </trim>
        where batch_number = #{batchNumber}
    </update>

    <delete id="deleteHisBatchNumbersByBatchNumber" parameterType="String">
        delete from his_batch_numbers where batch_number = #{batchNumber}
    </delete>

    <delete id="deleteHisBatchNumbersByBatchNumbers" parameterType="String">
        delete from his_batch_numbers where batch_number in 
        <foreach item="batchNumber" collection="array" open="(" separator="," close=")">
            #{batchNumber}
        </foreach>
    </delete>

</mapper>