<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.test.patients.mapper.HisPatientsMapper">
    
    <resultMap type="HisPatients" id="HisPatientsResult">
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="patientSex"    column="patient_sex"    />
        <result property="patientBirthDate"    column="patient_birth_date"    />
        <result property="patientAge"    column="patient_age"    />
        <result property="patientIdCardNum"    column="patient_id_card_num"    />
        <result property="patientMedCardNum"    column="patient_med_card_num"    />
        <result property="patientPhoneNum"    column="patient_phone_num"    />
    </resultMap>

    <sql id="selectHisPatientsVo">
        select patient_id, patient_name, patient_sex, patient_birth_date, patient_age, patient_id_card_num, patient_med_card_num, patient_phone_num from his_patients
    </sql>

    <select id="selectHisPatientsList" parameterType="HisPatients" resultMap="HisPatientsResult">
        <include refid="selectHisPatientsVo"/>
        <where>  
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="patientSex != null "> and patient_sex = #{patientSex}</if>
            <if test="patientBirthDate != null "> and patient_birth_date = #{patientBirthDate}</if>
            <if test="patientAge != null "> and patient_age = #{patientAge}</if>
            <if test="patientIdCardNum != null  and patientIdCardNum != ''"> and patient_id_card_num = #{patientIdCardNum}</if>
            <if test="patientMedCardNum != null  and patientMedCardNum != ''"> and patient_med_card_num = #{patientMedCardNum}</if>
            <if test="patientPhoneNum != null  and patientPhoneNum != ''"> and patient_phone_num = #{patientPhoneNum}</if>
        </where>
    </select>
    
    <select id="selectHisPatientsByPatientId" parameterType="Long" resultMap="HisPatientsResult">
        <include refid="selectHisPatientsVo"/>
        where patient_id = #{patientId}
    </select>
        
    <insert id="insertHisPatients" parameterType="HisPatients" useGeneratedKeys="true" keyProperty="patientId">
        insert into his_patients
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientName != null and patientName != ''">patient_name,</if>
            <if test="patientSex != null">patient_sex,</if>
            <if test="patientBirthDate != null">patient_birth_date,</if>
            <if test="patientAge != null">patient_age,</if>
            <if test="patientIdCardNum != null and patientIdCardNum != ''">patient_id_card_num,</if>
            <if test="patientMedCardNum != null">patient_med_card_num,</if>
            <if test="patientPhoneNum != null and patientPhoneNum != ''">patient_phone_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientName != null and patientName != ''">#{patientName},</if>
            <if test="patientSex != null">#{patientSex},</if>
            <if test="patientBirthDate != null">#{patientBirthDate},</if>
            <if test="patientAge != null">#{patientAge},</if>
            <if test="patientIdCardNum != null and patientIdCardNum != ''">#{patientIdCardNum},</if>
            <if test="patientMedCardNum != null">#{patientMedCardNum},</if>
            <if test="patientPhoneNum != null and patientPhoneNum != ''">#{patientPhoneNum},</if>
         </trim>
    </insert>

    <update id="updateHisPatients" parameterType="HisPatients">
        update his_patients
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null and patientName != ''">patient_name = #{patientName},</if>
            <if test="patientSex != null">patient_sex = #{patientSex},</if>
            <if test="patientBirthDate != null">patient_birth_date = #{patientBirthDate},</if>
            <if test="patientAge != null">patient_age = #{patientAge},</if>
            <if test="patientIdCardNum != null and patientIdCardNum != ''">patient_id_card_num = #{patientIdCardNum},</if>
            <if test="patientMedCardNum != null">patient_med_card_num = #{patientMedCardNum},</if>
            <if test="patientPhoneNum != null and patientPhoneNum != ''">patient_phone_num = #{patientPhoneNum},</if>
        </trim>
        where patient_id = #{patientId}
    </update>

    <delete id="deleteHisPatientsByPatientId" parameterType="Long">
        delete from his_patients where patient_id = #{patientId}
    </delete>

    <delete id="deleteHisPatientsByPatientIds" parameterType="String">
        delete from his_patients where patient_id in 
        <foreach item="patientId" collection="array" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </delete>

</mapper>