<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('挂号')"/>
  <style>
      .ibox {
          padding-left: 5px;
          padding-right: 5px;
      }

      .ibox-content {
          padding: 5px;
      }
  </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
  <div class="row">

    <div class="col-sm-4" style="padding: 5px">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>今日挂号列表</h5>
        </div>
        <div class="ibox-content">
          <table id="bootstrap-table"></table>
        </div>
      </div>
    </div>

    <div class="col-sm-8" style="padding: 5px">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>挂号</h5>
        </div>
        <div class="ibox-content">
          <div class="row" style="padding-left: 25px; padding-right: 25px">
            <form class="form" id="regisInfoForm">
              <div class="row">

                <input class="form-control" name="patientId" required type="hidden">
                <div class="form-group col-sm-3">
                  <label class="control-label is-required" for="name">姓名</label>
                  <div class="input-group-sm suggest-group">
                    <input class="form-control patients-suggest" id="name" name="patientName"
                           placeholder="选择或新增信息" required type="text">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                  </div>
                </div>

                <div class="form-group col-sm-3">
                  <label class="form-label" for="phone">手机号</label>
                  <input class="form-control" id="phone" name="patientPhoneNum"/>
                </div>

                <div class="form-group col-sm-2">
                  <label class="form-label" for="sex">性别</label>
                  <select class="form-control m-b" id="sex" name="patientSex"
                          th:with="type=${@dict.getType('sys_user_sex')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                  </select>
                </div>

                <div class="form-group col-sm-4">
                  <label class="control-label is-required" for="idCardNumber">身份证号</label>
                  <input class="form-control" id="idCardNumber" name="patientIdCardNum" required type="text"/>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <label class="form-label" for="birthdate">出生日期</label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input class="form-control" id="birthdate" name="patientBirthDate" placeholder="yyyy-MM-dd"
                           type="text">
                  </div>
                </div>

                <div class="form-group col-sm-2">
                  <label class="form-label" for="age">年龄</label>
                  <input class="form-control" id="age" name="patientAge" type="text"/>
                </div>

                <div class="form-group col-sm-4">
                  <label class="form-label" for="medCardNumber">医保卡号</label>
                  <input class="form-control" id="medCardNumber" name="patientMedCardNum" type="text"/>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-3">
                  <label class="form-label control-label is-required" for="hospDepts">挂号科室</label>
                  <select class="form-control m-b" id="hospDepts" required></select>
                </div>

                <div class="form-group col-sm-3">
                  <label class="form-label control-label is-required" for="doctors">挂号医生</label>
                  <select class="form-control m-b" id="doctors" name="workerId" required></select>
                </div>

                <div class="form-group col-sm-6">
                  <div class="row">
                  <label class="form-label control-label is-required col-sm-12">挂号时段：</label>
                  <div class="col-sm-12">
                    <div class="radio-box" th:each="dict : ${@dict.getType('his_reg_period')}">
                      <input name="regPeriod" required th:checked="${dict.default}" th:id="${'regPeriod_' + dict.dictCode}"
                             th:value="${dict.dictValue}" type="radio">
                      <label th:for="${'regPeriod_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-check">
                    <input class="form-check-input" id="paidCheck" type="checkbox">
                    <label class="form-check-label" for="paidCheck">
                      已缴费
                    </label>
                  </div>
                </div>

                <div class="col-sm-12">
                  <a class="btn btn-primary" id="btn-submit" onclick="submit()">完成</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-suggest-js"/>
<script th:inline="javascript">

    var regPeriodDatas = [[${@dict.getType('his_reg_period')}]];
    var regStatusDatas = [[${@dict.getType('his_reg_status')}]];
    var patientSexDatas = [[${@dict.getType('sys_user_sex')}]];

    $(function () {
        var options = {
            url: ctx + "his/registers/list",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            modalName: "挂号记录",
            queryParams: {
                // regTime: new Date().toISOString().slice(0, 10),
                regStatus: 1
            },
            columns: [
                {
                    field: 'regId',
                    title: '记录编号',
                    visible: false
                },
                {
                    field: 'patientId',
                    title: '患者ID',
                    visible: false
                },
                {
                    field: 'patientName',
                    title: '姓名'
                },
                {
                    field: 'patientSex',
                    title: '性别',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(patientSexDatas, value);
                    }
                },
                {
                    field: 'patientBirthDate',
                    title: '出生日期',
                    visible: false
                },
                {
                    field: 'patientAge',
                    title: '年龄'
                },
                {
                    field: 'patientIdCardNum',
                    title: '身份证号',
                    visible: false
                },
                {
                    field: 'patientMedCardNum',
                    title: '医保卡号',
                    visible: false
                },
                {
                    field: 'patientPhoneNum',
                    title: '手机号',
                    visible: false
                },
                {
                    field: 'deptName',
                    title: '科室'
                },
                {
                    field: 'workerId',
                    title: '医生ID',
                    visible: false
                },
                {
                    field: 'workerName',
                    title: '医生'
                },
                {
                    field: 'regTime',
                    title: '挂号日期',
                    visible: false
                },
                {
                    field: 'regPeriod',
                    title: '时段',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(regPeriodDatas, value);
                    }
                },
                {
                    field: 'regStatus',
                    title: '状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(regStatusDatas, value);
                    }
                }]
        };
        $.table.init(options);

        // bsSuggest
        getDataAndInitBsSuggest(
            ctx + 'his/patients/search_list',
            ".patients-suggest",
            function (data) {
                data.forEach(function (p) {
                    // 给数据增加字典标签字段
                    p.patientSexLabel = $.table.selectDictLabel(patientSexDatas, p.patientSex);
                });
                return data;
            },
            {
                effectiveFields: [
                    "patientId",
                    "patientName",
                    "patientSexLabel",
                    "patientBirthDate",
                    "patientAge",
                    "patientPhoneNum",
                    "patientIdCardNum",
                    "patientMedCardNum"
                ],
                effectiveFieldsAlias: {
                    patientId: "ID",
                    patientName: "姓名",
                    patientSexLabel: "性别",
                    patientBirthDate: "出生日期",
                    patientAge: "年龄",
                    patientPhoneNum: "电话号码",
                    patientIdCardNum: "身份证号",
                    patientMedCardNum: "医保卡号"
                },
                idField: "patientId",
                keyField: "patientName",
                ignorecase: true,
                autoDropup: true,
                hideOnSelect: true,
                showBtn: false,
                clearable: true,
                inputWarnColor: ''
            },
            function (e, selectedData, selectedRawData) {
                $("input[name='patientId']").val(selectedData.id);
                $('#phone').val(selectedRawData.patientPhoneNum);
                $('#sex').val(selectedRawData.patientSex);
                $('#idCardNumber').val(selectedRawData.patientIdCardNum);
                $('#birthdate').val(selectedRawData.patientBirthDate);
                $('#age').val(selectedRawData.patientAge);
                $('#medCardNumber').val(selectedRawData.patientMedCardNum);
            },
            function () {
                $("input[name='patientId']").val('');
                $('#phone').val('');
                $('#sex').val(0);
                $('#idCardNumber').val('');
                $('#birthdate').val('');
                $('#age').val('');
                $('#medCardNumber').val('');
            }
        );

        // 监听身份证号输入框的变化
        $('#idCardNumber').on('input', function () {
            const idCardNumber = $(this).val();
            // 移除非数字和非X字符，并将x转为大写X
            this.value = this.value.replace(/[^\dX]/gi, '').toUpperCase();

            // 如果输入长度超过18位，则截断为18位
            if (this.value.length > 18) {
                this.value = this.value.substring(0, 18);
            }

            if (/^\d{17}(\d|X)$/.test(idCardNumber)) { // 检查格式是否正确
                calculateBirthdateAndAge(idCardNumber);
            } else {
                $('#birthdate').val(''); // 清空出生日期
                document.getElementById('age').value = ''; // 清空年龄
            }
        });

        // 监听科室选择框的变化
        $('#hospDepts').on('change', function () {
            var deptId = $(this).val(); // 获取选中的科室ID
            if (deptId) {
                // 调用函数获取对应科室的医生列表
                getDoctorsByDeptId(deptId);
            }
        });

        // laydate
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#birthdate',
                type: 'date',
                done: function (value, date, endDate) {
                    if (value) { // 如果选择了日期
                        var age = calculateAge(value); // 调用计算年龄的函数
                        if (age !== null) { // 如果年龄计算成功
                            // 将计算出的年龄填充到年龄输入框中
                            document.getElementById('age').value = age;
                        } else {
                            // 如果日期格式不正确，清空年龄输入框并给出提示
                            document.getElementById('age').value = '';
                            alert('请输入正确的出生日期格式（yyyy-MM-dd）');
                        }
                    } else {
                        // 如果日期被清空，则清空年龄输入框
                        document.getElementById('age').value = '';
                    }
                }
            });
        });

        // 获取科室列表
        getHospitalDeptsList(201);
    });

    // 根据身份证号填充出生日期和年龄
    function calculateBirthdateAndAge(idCardNumber) {
        // 截取出生日期部分，并转换为日期对象
        var birthdateStr = idCardNumber.substring(6, 14);
        var year = parseInt(birthdateStr.substring(0, 4), 10);
        var month = parseInt(birthdateStr.substring(4, 6), 10) - 1; // 月份需要减1
        var day = parseInt(birthdateStr.substring(6, 8), 10);
        var birthdate = new Date(year, month, day);

        // 格式化出生日期为YYYY-MM-DD
        var birthdateFormatted = birthdate.getFullYear() + '-' +
            (birthdate.getMonth() + 1).toString().padStart(2, '0') + '-' +
            birthdate.getDate().toString().padStart(2, '0');

        // 计算年龄
        var today = new Date();
        var age = today.getFullYear() - birthdate.getFullYear();
        var m = today.getMonth() - birthdate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthdate.getDate())) {
            age--;
        }

        // 填充出生日期和年龄输入框
        document.getElementById('birthdate').value = birthdateFormatted;
        document.getElementById('age').value = age;
    }

    // 根据日期计算年龄
    function calculateAge(birthdateStr) {
        var birthdate = new Date(birthdateStr);
        if (isNaN(birthdate.getTime())) {
            return null; // 如果日期格式不正确，返回null
        }
        var today = new Date();
        var age = today.getFullYear() - birthdate.getFullYear();
        var m = today.getMonth() - birthdate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthdate.getDate())) {
            age--;
        }
        return age;
    }

    // 获取科室列表
    function getHospitalDeptsList(deptId) {
        $.ajax({
            url: ctx + 'system/dept/list/' + deptId,
            type: 'GET',
            dataType: 'json',
            success: function (departments) {
                var select = $('#hospDepts');
                select.empty(); // 清空之前的选项

                // 添加默认选项
                select.append($('<option></option>').attr('value', '').text('请选择科室'));

                // 将得到的数据添加为 select 元素的选项
                $.each(departments, function (index, department) {
                    select.append($('<option></option>').attr('value', department.deptId).text(department.deptName));
                });
            },
            error: function (error) {
                console.error('获取科室信息失败：', error);
            }
        });
    }

    // 根据部门ID获取医生列表
    function getDoctorsByDeptId(deptId) {
        $.ajax({
            url: ctx + 'system/user/list/' + deptId, // 后端API的URL
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var select = $('#doctors'); // 获取医生选择框的jQuery对象
                select.empty(); // 清空原有的医生选项

                // 动态添加医生选项到选择框
                $.each(data, function (index, doctor) {
                    select.append($('<option></option>').val(doctor.userId).text(doctor.userName));
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error fetching doctors:', textStatus, errorThrown);
            }
        });
    }

    // 表单提交
    function submit() {
        // 表单验证
        if (!formValidate()) {
            return false;
        }

        // 收集表单数据
        let data = {};
        $('.form').each(function (index, form) {
            // 这里可以使用$.common.formToJSON(formId);  需要在form上加id
            $.each($(form).serializeArray(), function (i, field) {
                if (data[field.name]) {
                    data[field.name] += ("," + field.value);
                } else {
                    data[field.name] = field.value;
                }
            });
        });

        // 提交
        data = JSON.stringify(data);
        $.ajax({
            url: ctx + 'his/registration/add', // 替换为你的后端API的URL
            type: 'POST', // 根据你的需求使用GET或POST
            contentType: 'application/json',
            data: data,
            dataType: 'json', // 预期后端返回的数据类型
            success: function (response) {
                if (response.code === web_status.SUCCESS) {
                    $.modal.msg("挂号成功", modal_status.SUCCESS);
                    location.reload();
                } else {
                    $.operate.successTabCallback(response);
                }
            },
        });
    }

    function formValidate() {
        // 必填字段验证
        if (!$('#regisInfoForm').validate().form()) {
            return false;
        }

        // 勾选缴费框
        if (!document.getElementById('paidCheck').checked) {
            $.modal.msgError('请缴费后再提交');
            return false;
        }

        return true;
    }

</script>
</body>
</html>
