<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!--360浏览器优先以webkit内核解析-->
  <title>首页</title>
  <link href="../static/favicon.ico" rel="shortcut icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
  <link href="../static/css/style.min.css" rel="stylesheet" th:href="@{/css/style.min.css}"/>
</head>

<body class="gray-bg">
<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-12">
    <h1 id="welcome">你好</h1>
    <blockquote>
      <p id="user-name"></p>
      <p id="user-id"></p>
      <p id="dept-id"></p>
      <p id="dept-name"></p>
    </blockquote>

    <hr>
  </div>
  <div class="col-sm-5">
    <h1>社区卫生服务中心信息系统</h1>
    <p>项目功能大纲</p>
    <div>
      <div>
        <h2>挂号/收费处</h2>
        <div class="section">
          <h3>挂号</h3>
          <div class="section">
            <div>挂号/收费</div>
            <div>患者信息管理</div>
            <div class="section">
              <div>增</div>
              <div>删</div>
              <div>改</div>
              <div>查</div>
            </div>
            <div>挂号记录查询</div>
          </div>
          <h3>收费</h3>
          <div class="section">
            <div>药品收费</div>
            <div>查询数据</div>
          </div>
        </div>
      </div>
      <div>
        <h2>门诊</h2>
        <div class="section">
          <h3>处方录入</h3>
          <div class="section">
            <div>选择挂号患者</div>
            <div>查找挂号患者</div>
            <div>保存病历</div>
            <div>新增处方</div>
            <div>修改处方</div>
            <div>删除处方</div>
            <div>完成诊断</div>
          </div>
          <div>查询患者病历</div>
        </div>
      </div>
      <div>
        <h2>药房</h2>
        <div class="section">
          <h3>药品采购计划管理</h3>
          <div class="section">
            <div>增</div>
            <div>删</div>
            <div>查</div>
            <div>改</div>
          </div>
          <h3>采购管理</h3>
          <div class="section">
            <div>查找</div>
            <div>新增采购单</div>
            <div>删除采购单</div>
            <div>修改采购单</div>
          </div>
          <h3>入库管理</h3>
          <div class="section">
            <div>查看入库单</div>
            <div>药品入库（从采购单新增入库单）</div>
            <div>药品入库（直接新增入库单）</div>
            <div>修改入库单</div>
            <div class="section">不能再增加/删除明细</div>
            <div>删除入库单</div>
          </div>
          <h3>处方配药</h3>
          <div class="section">
            <div>查看处方明细</div>
            <div>查看明细对应库存量</div>
            <div>检验库存是否足够</div>
            <div>完成配药</div>
          </div>
          <h3>库存管理</h3>
          <div class="section">
            <div>查看库存</div>
            <div>直接新增库存</div>
            <div>修改</div>
            <div>删除</div>
          </div>
          <div>供应商管理</div>
          <div>药品目录管理</div>
        </div>
      </div>
      <div>
        <h2>系统管理员</h2>
        <div class="section">
          <div>部门管理</div>
          <div>人事管理</div>
          <div>其他系统参数管理</div>
        </div>
      </div>
    </div>
    <a class="btn btn-success btn-outline" href="https://gitee.com/stevemmmy/long-tau-his_fast" target="_blank">
      <i class="fa fa-cloud"> </i> 访问源码
    </a>
  </div>
  <div class="col-sm-offset-7">
    <h4>技术选型：</h4>
    <ol>
      <li>核心框架：Spring Boot。</li>
      <li>安全框架：Apache Shiro。</li>
      <li>模板引擎：Thymeleaf。</li>
      <li>持久层框架：MyBatis。</li>
      <li>定时任务:Quartz。</li>
      <li>数据库连接池：Druid。</li>
      <li>工具类：Fastjson。</li>
      <li>更多……</li>
    </ol>
  </div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">

    var userName = "[[${@permission.getPrincipalProperty('userName')}]]";
    var userId = [[${@permission.getPrincipalProperty('userId')}]];
    var deptId = [[${@permission.getPrincipalProperty('deptId')}]];
    var deptName = "";

    $(function () {
        $('#welcome').text("你好，" + userName);
        $('#user-name').text("用户名：" + userName);
        $('#user-id').text("ID：" + userId);
        $('#dept-id').text("部门ID：" + deptId);

        $.ajax({
            url: "/system/user/list/" + deptId,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                deptName = response[0].dept.deptName;
                $('#dept-name').text("所属部门：" + deptName);
            }
        })
    })
</script>
</body>
</html>
