<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('新增入库单')"/>
  <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content ibox-content">
  <form class="form-horizontal m" id="form-entry-add">
    <h4 class="form-header h4">新增入库单</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label is-required">制单人：</label>
      <div class="col-sm-8">
        <input class="form-control" readonly th:value="${@permission.getPrincipalProperty('userName')}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">单据号：</label>
      <div class="col-sm-8">
        <input class="form-control" name="entDocNum" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">入库日期：</label>
      <div class="col-sm-8">
        <div class="input-group date">
          <input class="form-control" name="entDate" placeholder="yyyy-MM-dd" type="text">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
<!--    <h4 class="form-header h4">入库单明细信息</h4>-->
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success btn-sm" onclick="selectPurOrder()" type="button"><i class="fa fa-plus">
          选择采购单</i></button>
        <button class="btn btn-danger btn-sm" onclick="sub.delRow()" type="button"><i class="fa fa-minus"> 删除</i>
        </button>
        <div class="col-sm-12">
          <table data-resizable="true" id="bootstrap-table"></table>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-offset-5 col-sm-10">
    <button class="btn btn-sm btn-primary" onclick="submitHandler()" type="button"><i class="fa fa-check"></i>保 存
    </button>&nbsp;
    <button class="btn btn-sm btn-danger" onclick="closeItem()" type="button"><i class="fa fa-reply-all"></i>关 闭
    </button>
  </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    const docPrefix = "YPRK-";  // 单据号前缀
    var prefix = ctx + "his/entry";
    let options = {};  // bootstrap table 初始化设置
    var catDosageFormDatas = [[${@dict.getType('drug_dosage_form')}]];
    var catUnitDatas = [[${@dict.getType('drug_unit')}]];

    // 打开选择采购单页面
    function selectPurOrder() {
        var options = {
            title: '选择采购单',
            url: prefix + "/select",
            callBack: submitPurOrder
        };
        $.modal.openOptions(options);
    }

    // 得到选择的采购单明细
    function submitPurOrder(index, layero) {
        var rows = layero.find("iframe")[0].contentWindow.getSelections();
        let queryStr = "";
        $.each(rows, function (index, id) {
            if (queryStr !== '' && !queryStr.endsWith(',')) {
                queryStr += ',';
            }
            queryStr += '' + id;
        });

        if (queryStr !== '') {
            options.queryParams = {orderIdsStr: queryStr};
        }
        $.table.destroy();
        $.table.init(options);

        $.modal.close(index);
    }

    $("#form-entry-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-entry-add').serialize(), function (result) {
                location.reload();
            });
        }
    }

    $("input[name='entDate']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $(function () {
        options = {
            url: ctx + "his/purchase/list_ids",
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            onPostBody: function () {
                // laydate
                layui.use('laydate', function () {
                    var laydate = layui.laydate;
                    laydate.render({
                        elem: '.prod-date',
                        type: 'date',
                        max: new Date().toISOString().slice(0, 10)
                    });
                    laydate.render({
                        elem: '.valid-to',
                        type: 'date',
                        min: new Date().toISOString().slice(0, 10)
                    });
                });
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'index',
                    align: 'center',
                    // title: "序号",
                    width: "20%",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'catApprovalNumber',
                    title: '批准文号',
                    visible: false
                },
                {
                    field: 'catDrugNum',
                    title: '药品编号',
                    visible: false
                },
                {
                    field: 'catName',
                    align: 'left',
                    title: '药品名'
                },
                {
                    field: 'catId',
                    align: 'center',
                    title: 'ID',
                    width: "20%",
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='hidden' name='hisEntrySchedulesList[%s].catId' value='%s' readonly>", index, value);
                        return html + value;
                    }
                },
                {
                    field: 'catEnglishName',
                    title: '英文名'
                },
                {
                    field: 'catProducer',
                    title: '生产商'
                },
                {
                    field: 'catSpecs',
                    title: '规格'
                },
                {
                    field: 'catDosageForm',
                    title: '剂型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(catDosageFormDatas, value);
                    }
                },
                {
                    field: 'catPackage',
                    title: '包装'
                },
                {
                    field: 'catUnit',
                    title: '单位',
                    width: '50%',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(catUnitDatas, value);
                    }
                },
                {
                    field: 'entSchBatchNumber',
                    align: 'center',
                    title: '生产批号',
                    width: "120%",
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisEntrySchedulesList[%s].entSchBatchNumber' value='%s' required>", index, value);
                        return html;
                    }
                },
                {
                    field: 'entSchProdDate',
                    align: 'center',
                    title: '生产日期',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control prod-date' type='text' placeholder='yyyy-MM-dd' name='hisEntrySchedulesList[%s].entSchProdDate' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'entSchValidTo',
                    align: 'center',
                    title: '有效期至',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control valid-to' type='text' placeholder='yyyy-MM-dd' name='hisEntrySchedulesList[%s].entSchValidTo' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'entSchUnitPrice',
                    align: 'left',
                    title: '售价',
                    width: '80%',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisEntrySchedulesList[%s].entSchUnitPrice' value='%s'>", index, value);
                        return html;
                    }
                },
                {
                    field: 'entSchNum',
                    align: 'center',
                    title: '入库数量',
                    formatter: function (value, row, index) {
                        var html = $.common.sprintf("<input class='form-control' type='text' name='hisEntrySchedulesList[%s].entSchNum' value='%s' required>", index, value);
                        return html;
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var value = $.common.isNotEmpty(row.index) ? row.index : $.table.serialNumber(index);
                        return '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="sub.delRowByIndex(\'' + value + '\')"><i class="fa fa-remove"></i>删除</a>';
                    }
                }]
        };

        // 设置制单日期为当前日期
        const today = new Date().toISOString().slice(0, 10); // 获取当前日期，格式为"YYYY-MM-DD"
        $('input[name="entDate"]').val(today); // 将日期值设置到输入框中

        // 填写单据号前缀
        let $entDocNumInput = $('input[name="entDocNum"]');
        $entDocNumInput.val(
            docPrefix + today.slice(2, 4) + today.slice(5, 7) + today.slice(8, 10)
        );

        // 单据号长度不超过 14
        $entDocNumInput.on('input', function () {
            const inputVal = $(this).val();
            if (inputVal.length > 14) {
                $(this).val(inputVal.slice(0, 14));
            }
        });
    });

    // function addRow() {
    //     var count = $("#" + table.options.id).bootstrapTable('getData').length;
    //     var row = {
    //         index: $.table.serialNumber(count),
    //         catId: "",
    //         entSchBatchNumber: "",
    //         entSchProdDate: "",
    //         entSchValidTo: "",
    //         entSchNum: "",
    //     }
    //     sub.addRow(row);
    // }
</script>
</body>
</html>