<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('选择采购单')"/>
</head>
<body class="gray-bg">
<div class="container-div">
  <div class="row">
    <div class="col-sm-12 select-table table-striped">
      <table id="bootstrap-table"></table>
    </div>
  </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('his:purchase:edit')}]];
    var removeFlag = [[${@permission.hasPermi('his:purchase:remove')}]];
    var purStatusDatas = [[${@dict.getType('doc_purchase_status')}]];
    var prefix = ctx + "his/purchase";

    // function submitHandler(index, layero) {
    //     var rows = $.table.selectFirstColumns();
    //     if (rows.length === 0) {
    //         $.modal.alertWarning("请至少选择一条记录");
    //         return;
    //     }
    //     $.modal.close();
    // }

    /* 添加-选择-提交(回调形式-父页面调用子页面) */
    function getSelections() {
        return $.table.selectFirstColumns();
    }

    $(function () {
        var options = {
            url: prefix + "/list",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            clickToSelect: true,
            queryParams: {
                
            },
            columns: [{
                checkbox: true
            },
                {
                    field: 'purId',
                    title: '采购单ID',
                    visible: false
                },
                {
                    field: 'purDocNum',
                    title: '单据号'
                },
                {
                    field: 'splId',
                    title: '供应商编号',
                    visible: false
                },
                {
                    field: 'splName',
                    title: '供应商'
                },
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '制单人'
                },
                {
                    field: 'purDate',
                    title: '订单日期'
                },
                {
                    field: 'purArrDate',
                    title: '计划到货日期'
                },
                {
                    field: 'purPayDate',
                    title: '预计付款日期'
                },
                {
                    field: 'purStatus',
                    title: '采购单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(purStatusDatas, value);
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>